body{
    background-image: url(./images/bakground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    grid-template-rows: 104px 1fr 38px;
}

*{
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 70px 5px 50px;
    color: white;
    font-size: 20px;
    align-items: center;
    border-bottom: solid #c59d5f;
}

.header .title{
    font-family: 'Style Script', cursive;
    font-size: 50px;
}

.tabs{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.header button{
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: white;
    font-family: 'Stylish', sans-serif;
}

.footer{
    border-top: solid #c59c5fef;    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    background-color: #0b0706e9;
    padding-top: 5px;
    padding-bottom: 10px;
}

.footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: lightgray;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
    
}



h8:hover,button:hover{
    border-bottom: solid 1px #c59c5f;
}

button.active{
    padding-bottom: 5px;
    border-bottom: solid  2px #c59c5f;
}

#content{
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
}

.head{
    position: relative;
    right: min(calc(50% - 10%), calc(600px - 100px));
    color: #c59d5f;
}

.menu{
    color: #000000;
    align-self: center;
    font-size: 50px;
    font-family: 'Stylish', sans-serif;
}

#content p{
    text-align: justify;
    padding: 20px;
    border-left: solid #c59c5f56;
    border-right: solid #c59c5f56;
    border-radius: 50%;
    width: min(100%, 1200px);
    font-size: 30px;
    color: rgba(255, 255, 255, 0.672);
    font-family: 'Stylish', sans-serif;
    border-radius: 4px ;
}

.container{
    padding: 20px;
    width: min(100%, 1200px);
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 350px;
    background-color: white;
    padding:  0px 0 0 0;
    border-radius: 20px;
}
.card .name{
    font-family: 'Style Script', cursive;
    height: 60px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f7ead8;
    background-color: #000000;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    
}

.card img{
    width: 250px;
    border-bottom: solid 2px #c59c5f;
    border-top: solid 1px #000000
}

.card .cost{
    height: 40px;
    width: 100%;
    background-color: black;
    border-radius: 0  0px 20px 20px;
    font-size: 20px;
    color: #d4a866c3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_title{
    font-weight: light;
    color: #c59c5f;
    align-self: center;
}
.contact{
    margin: auto;
    width: min(400px, 100%);
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    border-radius: 10px;
    border-left: solid 3px #c59c5f;
    border-right: solid 3px #c59c5f;
    background-color: rgba(0, 0, 0, 0.7);
}

.field{
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;   
}

.field img{
    height: 50px;
    width: auto;
    filter: invert(1);
}

.field .info{
    font-size: 23px;
    color: white;
    font-family: 'Stylish';
}