#content{
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
}

.head{
    position: relative;
    right: min(calc(50% - 10%), calc(600px - 100px));
    color: #c59d5f;
    
}

p{
    text-align: justify;
    padding: 20px;
    border-left: solid #c59c5f56;
    border-right: solid #c59c5f56;
    border-radius: 50%;
    width: min(100%, 1200px);
    font-size: 30px;
    color: rgba(255, 255, 255, 0.672);
    font-family: 'Stylish', sans-serif;
    border-radius: 4px ;
}